@import './sass/keyframes'

* 
    margin: 0
    padding: 0

body
    background-color: lighthgray

ul
    width: 210px

    padding: 15px
    margin: 100px auto 0 auto
    
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start

    list-style: none
    
    border: 5px solid #212529
    border-radius: 5px

li  
    width: 190px
    height: 50px

    margin:  5px 0
    padding: 0 0 0 10px

    display: flex
    align-items: center
    justify-content: flex-start

    font-size: 20px
    font-family: Arial
    font-weight: bolder
    color: #212529
    
    border: 5px solid #212529
    border-radius: 5px
    // &:hover
    //     cursor: grab
.dragIcon
    width: 50px

.over
    @include inline-animation(0.1s)
    border: 5px dashed #0059b3
